@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');

* {
    margin: 0;
    padding: 0;
    min-width: 0;
}

:root {
    --font-family: Trocchi, serif;
    --landing-font-size: min(12vw, 12rem);
    --heading-font-size: min(8vw, 8rem);
    --font-size: min(6vw, 1.8rem);

    --section-width: 90%;
    --section-max-width: 1000px;

    --accent-color: #f39c12;
    --bubble-background-color: #f3f3f3;

    --small-unit: 1rem;
    --medium-unit: 2rem;
    --large-unit: 4rem;

    font-family: var(--font-family);
    font-size: 62.5%;
}

hr {
    width: min(50rem, 40%);
    height: 4px;
    background-color: black;
    margin: var(--large-unit) auto;
    border: 1px solid black;
    border-radius: var(--small-unit);
}

a,
a:visited,
a:focus {
    color: var(--accent-color);
    text-decoration: none;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

a:hover {
    text-decoration: underline;
}

a[target="_blank"]::after {
    content: url(../assets/new-tab.svg);
    margin-left: 2px;
}

section {
    min-height: 100svh;
    width: var(--section-width);
    max-width: var(--section-max-width);
    margin: auto;
    font-size: var(--font-size);
}

section>header {
    font-size: var(--heading-font-size);
}

section .bubble {
    position: relative;
    background: var(--bubble-background-color);
    border-radius: var(--small-unit);
    font-size: var(--font-size);
    max-width: min(100%, 50rem);
    padding: var(--small-unit) var(--medium-unit);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    hyphens: auto;
}

section .bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: var(--large-unit);
    width: 0;
    height: 0;
    border: var(--small-unit) solid transparent;
    border-bottom-color: var(--bubble-background-color);
    border-top: 0;
    margin-left: calc(-1 * var(--small-unit));
    margin-top: calc(-1 * var(--small-unit));
}

.animate {
    transition: all 1s ease;
    transition-delay: 400ms;
}

.animate-out {
    filter: blur(100%);
    transform: translateX(var(--large-unit));
    opacity: 0;
}

.animate-in {
    filter: blur(0%);
    transform: translateX(0%);
    opacity: 1;
}

/* 
    ----------------------------------------------------
    LANDING SECTION CSS BELOW
    ----------------------------------------------------
*/

section.landing {
    display: flex;
    flex: auto 1;
    flex-direction: column;
    justify-content: space-between;
}

section.landing>header {
    font-size: var(--landing-font-size);
    margin: auto 0;
}

section.landing>footer {
    align-self: center;
}

section.landing>footer>button {
    cursor: pointer;
    background: none;
    border: none;
    font-size: var(--landing-font-size);
    padding: var(--large-unit) 0;
    animation: scroll-down-icon-animation 1.5s infinite;
}

@keyframes scroll-down-icon-animation {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(var(--medium-unit));
    }

    100% {
        transform: translateY(0%);
    }
}

/* 
    ----------------------------------------------------
    ABOUT SECTION CSS BELOW
    ----------------------------------------------------
*/

section.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--large-unit);
}

/* 
    ----------------------------------------------------
    PROJECTS SECTION CSS BELOW
    ----------------------------------------------------
*/

section.projects {
    display: flex;
    flex-direction: column;
    gap: var(--large-unit);
}

section.projects>main {
    display: flex;
    flex-direction: column;
    gap: var(--large-unit);
}

section.projects>main div.projects__project {
    display: flex;
    flex-direction: column;
    gap: var(--medium-unit);
}

section.projects>main div.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: mandatory;
}

section.projects>main div.slides::-webkit-scrollbar {
    width: var(--small-unit);
    height: var(--small-unit);
}

section.projects>main div.slides::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: var(--small-unit);
}

section.projects>main div.slides::-webkit-scrollbar-track {
    background: transparent;
}

section.projects>main div.slides>div.slide {
    position: relative;
    display: flex;
    margin: 0 var(--medium-unit) var(--medium-unit) 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    border-radius: var(--small-unit);
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    width: min(60rem, 100%);
    background-image: var(--background-url);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

section.projects>main div.slides>div.slide-16-9 {
    aspect-ratio: 16/9;
}

section.projects>main div.slides>div.slide-4-3 {
    aspect-ratio: 4/3;
}

/* 
    ----------------------------------------------------
    HOBBY SECTION CSS BELOW
    ----------------------------------------------------
*/

section.hobby {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--large-unit);
}

/* 
    ----------------------------------------------------
    CONTACT SECTION CSS BELOW
    ----------------------------------------------------
*/

section.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--large-unit);
}

section.contact>main p>i {
    color: var(--accent-color);
}